<%= render 'components/folio', folio: @folio %>
<%= render 'components/crypto_sync', folio: @folio %>

<div class="grid grid--center">
  <div class="grid__cell grid__cell--80">
    <div class="coins">
      <div class="grid grid--left">
        <% @folio.folio_crypto_currencies.order_by_crypto_currency_name.each do |folio_crypto_currency| %>
        <%= render 'components/crypto_currency', folio_crypto_currency: folio_crypto_currency %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="grid grid--center">
  <div class="grid__cell grid__cell--80">
    <div class="grid grid--center">
      <div class="grid__cell grid__cell--100 grid__cell--50-at-wide">
        <div class="coin-add">
          <%= render 'components/crypto_currency_add', crypto_currencies: @crypto_currencies %>
        </div>
      </div>

      <div class="grid__cell grid__cell--100 grid__cell--50-at-wide">
        <div class="folio-save">
          <%= render 'components/folio_save', user: current_user %>
        </div>
      </div>
    </div>
  </div>
</div>
