<div class="grid grid--center">
  <div class="grid__cell grid__cell--90 grid__cell--60-at-wide">
    <div class="settings">
      <h1 class="settings__title settings__title--main">Settings</h1>

      <h3 class="settings__title">Folio</h3>

      <p class="settings__label">Show the prices in the following currency:</p>

      <div class="grid grid--left">

        <div class="settings__currencies">
          <% @currencies.each do |currency| %>
            <component-settings-currency v-cloak inline-template
              prop-currency="<%= currency.to_json %>"
              prop-currency-id-selected="<%= @user.folio.currency_id %>"
            >

              <div
                class="grid__cell grid__cell--100 grid__cell--50-at-medium grid__cell--33-at-wide"
                v-match-heights="{el: ['.settings__currency']}"
              >

                <div
                  v-on:click="onClickCurrency"
                  v-bind:class="{ 'settings__currency': true, 'settings__currency--selected': isSelected}"
                >

                  <div class="settings__currency-name">
                    <%= currency.name %>  <span class="settings__currency-symbol"><%= currency.symbol %></span>
                  </div>
                </div>
              </div>
            </component-settings-currency>
          <% end %>
        </div>

      </div>

      <p class="settings__label">Drag and drop the items below to set the order of your folio:</p>

     <component-settings-order v-cloak inline-template
        prop-folio-crypto-currencies="<%= @folio_crypto_currencies.to_json(include: [:crypto_currency]) %>"
      >
        <div v-for="folioCryptoCurrency in folioCryptoCurrencies" class=settings__order-item"">
          {{folioCryptoCurrency.crypto_currency.name}}
        </p>
      </component-settings-order>

      <!--
      <div class="settings__order" v-dragula="container" bag="first-bag">
        <% @folio_crypto_currencies.each_with_index do |folio_crypto_currency, index| %>
          <div class="settings__order-item">
            <div class="settings__order-item-drag"><i class="icon icon-list"></i></div>
            <div class="settings__order-item-index"><%= index+1 %>.</div>
            <div class="settings__order-item-logo"><%= image_tag(folio_crypto_currency.crypto_currency.media.reverse.chop.reverse)   %></div>
            <div class="settings__order-item-name"><%= folio_crypto_currency.crypto_currency.name %></div>
          </div>
        <% end %>
      </div>
    -->

    </div>
  </div>
</div>
